---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Triomphe Mc Forrest" description="About Triomphe Mc Forrest">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="Forrest at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						 	Driven professional deeply immersed in the captivating world of computer science, with a specific focus on web development. His journey in this exhilarating field commenced with an innate curiosity and a profound passion for technology.

							Rooted in a background rich with an appreciation for innovation, I embarked on educational odyssey in computer science, culminating in the attainment of a Master's Degree. This academic achievement solidified his foundational understanding of the intricacies of software development and equipped him with the tools necessary to navigate the complexities of the digital landscape.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Dedicated individual with a strong educational background in the field of computer science. Having pursued higher education at the prestigious National School of Computer Science in Fianarantsoa, Madagascar, [Your Name] has consistently demonstrated exceptional academic prowess and a profound understanding of computer science principles.

					Graduating with distinction, holds a Master's degree (Master II) and a Professional Bachelor's degree in Computer Science from the aforementioned institution. Throughout academic journey, I was exhibited a remarkable aptitude for problem-solving, critical thinking, and innovation.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
